.productos{
    padding-bottom: 5rem;
    &__contenedor{
        &__submenu{
            border-bottom: .2rem solid rgb(229, 229, 229);
            padding-bottom: 1.5rem;
            &--link{
                font-size: 2.4rem;
                text-transform: uppercase;
                color: $color-secondary;
                //margin-right: 5rem;
                &:not(:last-child){ //no vas a ejecutar al ultimo hijo
                    margin-right: 5rem;
                    @media only screen and (max-width:$bp-small){
                        margin-right: 1.5rem;
                    }
                }
                @media only screen and (max-width:$bp-medium){
                    font-size: 1.6rem;
                }
            }
        }
        &__box{
            display: flex;
            flex-wrap: wrap; //para que los elementos se acomeden de bajo de otro
            row-gap: 5rem; // para el espacio de la parte de arriba de mi wrap
            justify-content: center; //se va a comodando en centro los elementos
            &__item{
                width: 25%;
                text-align: center; //hereda a todos los elementos internos
                padding: 0 2rem;
                border-right: 1px solid rgb(black,.05);
                @media only screen and (max-width:$bp-large){
                    width: 50%;
                }
                @media only screen and (max-width:$bp-small){
                    width: 100%;
                }
                &:last-child{
                    border: none;
                }
                &__etiquetas{
                    display: flex;
                    justify-content: space-between;
                    span{
                        background-color: $color-primary;
                        color: white;
                        font-size: 1.4rem;
                        padding: .2rem 1rem;
                        border-radius: .3rem;
                    }
                }
                &--img{
                    display: block;
                    width: 100%; //ocupa todo el ancho del contenedor
                }
                &--cat{
                    font-size: 1.4rem;
                    color: $color-secondary-light;
                }
                &--name{
                    font-size: 1.6rem;
                    color: $color-secondary;
                    margin-top: 1.2rem;
                    margin-bottom: 1rem;

                }
                &__stars{
                    font-size: 1.2rem;
                    color: $color-secondary;
                }
                &__precio{
                    margin-top: 1.2rem;
                    margin-bottom: 1.5rem;
                    &--real{
                        font-size: 1.6rem;
                        color: $color-secondary-light;
                        text-decoration: line-through;
                        
                    }
                    &--oferta{
                        font-size: 2rem;
                        color: rgb(234,58, 60);
                        font-weight: 700;
                        margin-left: .5rem; // para tener una separacion del precio real
                    }
                }
                &--btn{
                    font-size: 1.4rem;
                    color: $color-secondary;
                    border: 1px solid rgb(229,229,229);
                    padding: 1rem 2rem;
                    border-radius: .3rem;
                    transition: all .3s;
                    &:hover{
                        background-color: $color-secondary;
                        color: white;
                        transition: all .3s;
                    }
                }
            }
        }
        

    }
}